{% extends 'base.html.twig' %}

{% block title %}Edit trick | {{ trick.name }}{% endblock %}

{% block body %}
{{ parent() }}
<div class="trick_edit_page">
    <div class="header-container">
        {% if trick.mainPicture %}
            <img  id="mainPicture" class="trick_main_picture" src="{{ asset('upload/' ~ trick.mainPicture.picture) }}" alt="{{ trick.mainPicture.alt }}"/>
        {% elseif trick.pictures.first %}
            <img  id="mainPicture" class="trick_main_picture" src="{{ asset('upload/' ~ trick.pictures.first.picture) }}" alt="{{ trick.pictures.first.alt }}"/>
        {% else %}
            <img  id="mainPicture" class="trick_main_picture" src="{{ asset('jpg/defaultTrick.jpg') }}" alt="Trick"/>
        {% endif %}
        <h1>{{ trick.name|capitalize }}</h1>
        <p class="icons-container">
            <a href="#" data-toggle="modal" data-target="#selectMainPictureModal"><img class="edit_icon" src="{{ asset('png/edit.png') }}" alt="Edit" /></a>
            <a id="mainPictureDeleteButton" href="#"><img class="delete_icon" src="{{ asset('png/trash.png') }}" alt="Delete" /></a>
        </p>
    </div>
    {{ form_start(trickForm) }}
    <!-- Modal MainPicture-->
    <div class="modal fade" id="selectMainPictureModal" tabindex="-1" role="dialog" aria-labelledby="mainPictureModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mainPictureModalLabel">Main Picture</h5>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group">
                        <div id="trick_form_mainPicture" class="mini-container">
                            {% for element in trickForm.children.mainPicture.children %}
                                {% if element.vars.id != 'trick_form_mainPicture_placeholder' %}
                                    <div class="form-check">
                                        <input type="radio" id="{{ element.vars.id }}" name="{{ element.vars.full_name }}" class="form-check-input" value="{{ element.vars.value }}" {% if element.vars.checked == true %}checked="checked"{% endif %} />
                                        <label class="form-check-label required" for="{{ element.vars.id }}"><img class="mini" src="{{ asset('upload/' ~ element.vars.label) }}" alt="trick" /></label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button id="mainPictureSaveButton" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="media-container">
        <fieldset class="form-group">
            <div id="trick_form_pictures">
                {% for picture in trickForm.children.pictures.children %}
                    <div class="form-check">
                        <input type="checkbox" id="{{ picture.vars.id }}" name="{{ picture.vars.full_name }}" class="form-check-input" value="{{ picture.vars.value }}" {% if picture.vars.checked == true %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="{{ picture.vars.id }}"><img class="mini" src="{{ asset('upload/' ~ picture.vars.label) }}" alt="trick" /></label>
                        <p class="icons-container-mini">
                            <a href="{{ path('picture_edit', { id : picture.vars.value }) }}"><img class="edit_icon" src="{{ asset('png/edit.png') }}" alt="Edit" /></a>
                            <a href="{{ path('picture_delete', { id : picture.vars.value }) }}" data-confirm="Do you really want to delete ?"><img class="delete_icon" src="{{ asset('png/trash.png') }}" alt="Delete" /></a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div id="trick_form_videos">
                {% for video in trickForm.children.videos.children %}
                    <div class="form-check">
                        <input type="checkbox" id="{{ video.vars.id }}" name="{{ video.vars.full_name }}" class="form-check-input" value="{{ video.vars.value }}" {% if video.vars.checked == true %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="{{ video.vars.id }}">{{ video.vars.label|raw }}</label>
                        <p class="icons-container-mini">
                            <a href="{{ path('video_edit', { id : video.vars.value }) }}"><img class="edit_icon" src="{{ asset('png/edit.png') }}" alt="Edit" /></a>
                            <a href="{{ path('video_delete', { id : video.vars.value }) }}" data-confirm="Do you really want to delete ?"><img class="delete_icon" src="{{ asset('png/trash.png') }}" alt="Delete" /></a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
    {{ form_row(trickForm.name) }}
    {{ form_row(trickForm.description) }}
    {{ form_row(trickForm.category) }}
    {% do trickForm.mainPicture.setRendered() %}
    {% do trickForm.pictures.setRendered() %}
    {% do trickForm.videos.setRendered() %}
    <div class="buttons">
        <a href="{{ path('trick_delete', { slug : trick.slug }) }}" data-confirm="Do you really want to delete ?"><button type="button" class="btn btn-danger">Delete</button></a>
        <input id="submitButton" class="btn btn-primary" type="submit" value="Save" />
    </div>
    {{ form_end(trickForm) }}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trick_edit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/confirm_delete.js') }}" type="text/javascript"></script>
{% endblock %}


